.joblist {
  margin-top: 144px;
  margin-bottom: 56px;
  padding-inline: 165px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 65px 30px;
}

.buttonContainer {
  display: grid;
  place-content: center;
  margin-bottom: 104px;
}
