.job-item {
  background: white;
  padding: 49px 32px 32px 32px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 44px;
  position: relative;
}

.imageContainer {
  position: absolute;
  left: 32px;
  top: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .imageContainer > img {
  display: block;
} */

.job-item-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* @media (max-width: 768px) {
  .job-item-text {
    gap: 13px;
  }
} */

.job-item-text-1 {
  display: flex;
  gap: 28px;
  color: #6e8098;
  font-size: 16px;
  font-weight: 400;
}

.job-item-text-1 p:nth-child(2) {
  position: relative;
}

.job-item-text-1 p:nth-child(2)::before {
  position: absolute;
  left: -14px;
  bottom: 4px;
  content: "";
  width: 4px;
  height: 4px;
  background: #979797;
  border-radius: 100%;
}

.job-item-text h2 {
  color: #19202d;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.job-item-text h2:hover {
  color: #6e8098;
}

.job-item-text p {
  color: #6e8098;
  font-size: 16px;
  font-weight: 400;
}

.location {
  color: #5964e0;
  font-size: 14px;
  font-weight: 700;
}
